<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer – Homepage</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<section id="page-content">
    <div class="container mt-4">
        <div th:replace="~{fragments/search-location-form :: search-location-form}"></div>

        <div>
            <div class="row">
                <div th:each="weather : ${weathers}" class="col-12 col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 position-relative weather-card">
                        <div class="position-absolute weather-card-delete-form">
                            <button class="btn-close" aria-label="Delete"></button>
                        </div>
                        <img class="card-img-top img-fluid"
                             src="https://openweathermap.org/img/wn/01n@4x.png"
                             alt="Weather icon">
                        <div class="card-body d-flex flex-column">
                            <h1 class="card-text" th:text="${weather.temperature.temperature}">7°C</h1>
                            <h3 class="card-title">Tbilisi, GE</h3>
                            <p class="card-text mb-1">Feels like <span th:text="${weather.temperature.feelsLike}">2</span>°C.
                                <span>Clear sky</span>
                            </p>
                            <p class="card-text mb-1">Humidity: 70%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>