<header th:fragment="header" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="images/weather-app.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Weather Tracker
        </a>
        <div class="d-flex align-items-center">
            <span class="navbar-text me-3">zhukovsd</span>
            <button class="btn btn-outline-danger">Sign out</button>
        </div>
    </div>
</header>