<header th:fragment="header" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img src="/images/weather-app.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Weather Tracker
        </a>
        <div class="d-flex align-items-center">
            <span th:text="${userLogin}" class="navbar-text me-3">zhukovsd</span>
            <form th:action="@{/sign-out}" method="post">
                <input type="hidden" name="_method" th:value="delete">
                <button class="btn btn-outline-danger">Sign out</button>
            </form>
        </div>
    </div>
</header>