<form th:fragment="search-location-form" action="/home/location" method="GET" class="d-flex my-4">
    <div class="input-group location-search-input-group me-3">
        <input class="form-control" type="text" name="name" placeholder="Enter location" required>
        <button class="btn btn-outline-secondary btn-sm clear-input-button" type="button"
                onclick="this.previousElementSibling.value=''">
            &times;
        </button>
    </div>
    <button class="btn btn-outline-success">Search</button>
</form>